
<section id="about" class = "d-flex justify-content-center align-items-center text-center py-5">
    <div class="container">
        <h1>About me</h1>
        <p>I am a something something something here mission statement</p>
    </div>
</section>