
<section id="contact">
    <div class="info-box">
        <p>Resume</p>
        <p>GitHub</p>
        <p>Add me on LinkedIn!</p>
        <a href="https://www.linkedin.com/in/landon-pyko-48607a2a9/" target="_blank">
            <img src="~/Images/linkedin.png">
        </a>
        
    </div>
</section>