@page
@model MyWebsite.Pages.ProjectsModel

@foreach (var project in Model.Projects)
{
    <div class="project-card">
        <h2>@project.Title</h2>
        <p>@project.Description</p>
        <a href="@project.Link" target="_blank">View Project</a>
    </div>
}
